<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orixaoracle.potato.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".orixas.Elegbara"
            android:label="@string/elegbara"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".orixas.Ogum"
            android:label="@string/ogum"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OrixasInfo"
            android:label="@string/title_activity_orixas_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullscreenActivityAbout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Perguntas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Results"
            android:parentActivityName=".MainActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8764007559480750~7390517978" />
    </application>

</manifest>